.ListUser-container{
    .child-listUser-content{
        .child-listUser{
            border: 1px solid white;
            padding: 10px;  
            width: 400px;
            margin-top: 10px;
        }
    }
}